<template>
  <div id="app">
         <div class="header"> 
      <button class="closebtn"><span><img src="../assets/images/close.png" width="25px" height="25px"></span></button>

      <button class="minimizebtn"><span><img src="../assets/images/minimize.png" width="25px" height="25px"></span></button>

      <button class="scrollbtn"><span><img src="../assets/images/scroll.png" width="25px" height="25px"></span></button>
      <p class="librarys">Library System  | Dashboard </p>
           </div>

  </div>
</template>
<script>
export default {
  
}
</script>
<style></style>