<template>
  <div id="app">
    <div class="sidenav">
      <img class="hehe" src="../assets/images/hehe.png">
      
      <a href="#"><button class="bt1"><span> <img src="../assets/images/dash.png" width="30px" height="30px"></span>Dashboard</button></a>
     
      <a href="patron.html"><button class="bt21" > <span> <img src="../assets/images/ad.png" width="30px" height="30px" >Patron Management</span></button></a>
     
      <a href="book.html"><button class="bt31" > <span> <img src="../assets/images/books.png" width="30px" height="30px">Book Management</span></button></a>
      
      <a href="settings.html"><button class="bt41" ><span> <img src="../assets/images/settings.png" width="30px" height="30px">Settings</span></button></a>

      <button class="bt51" >Log Out</button>
    
    </div>  
  </div>
</template>
<script>
export default {
  
}
</script>
<style></style>