<template>
  <div id="app">
    <NavBar/>
    <SideBar/>
          <div class="titled text-center">
      <br>
      <h1>Book Management</h1>   
    </div>   
   <div class="cContainer p-4">
              <div class="process p-4">
                                       
              <button @click='toogle = ! toogle' class="adds btn btn-sm"><span><img src="./assets/images/add.png" width:="30px" height="30px">Add Book </span></button>
              <input class="search-box" type="text" name="" placeholder="Search..." >                    
                                          <hr class="bg-dark">
              </div>
             
       <table class="table table-bordered"> 
        <thead class="table-head text-center">
            <tr> 
            
              <th>Name</th>
              <th>Author</th>
              <th>Copies Avaialabe</th>
              <th>Category</th>
               <th><button class="thB"></button></th>
            </tr>
         </thead>
         <tbody class="table-body">  
            
            
            <td class="text-center">Jayrell Egargo</td>
                <td class="text-center">Mr. Bill Door</td>
                <td class="text-center">5</td>
                <td class="text-center">Programming</td>
               <td><a href="#" >Edit</a><br><a  onclick="myFunction()" href="#" >Delete</a><br><a href="#" >Borrow</a><br><a href="#" >Return</a></td>
               
                <tr>
                  
            
            <td class="text-center">Jayrell Egargo</td>
                <td class="text-center">Mr. Bill Door</td>
                <td class="text-center">5</td>
                <td class="text-center">Programming</td>
              <td><a href="#" >Edit</a><br><a  onclick="myFunction()" href="#" >Delete</a><br><a href="#" >Borrow</a><br><a href="#" >Return</a></td>
                 </tr>

            <tr>  
            
            <td class="text-center">Jayrell Egargo</td>
                <td class="text-center">Mr. Bill Door</td>
                <td class="text-center">5</td>
                <td class="text-center">Programming</td>
            <td><a href="#" >Edit</a><br><a  onclick="myFunction()" href="#" >Delete</a><br><a href="#" >Borrow</a><br><a href="#" >Return</a></td>
                
                </tr></tbody>
    </table>

    </div>
    <div v-show='toogle' id="overthetop">
    <div class="modal-dialog ">
    <div class="modal-content">
     <div class="modal-header">
                <p1 class="hText">ADD Book</p1>
                <button @click='toogle = !toogle' type="button" class="btnx" data-dismiss="modal">X</button>
              </div>
     <div class="modal-body p-4">
     <form class="form1 align-items-center">
                      <div class="form-g">
                        <span> Name <input class="form-input" type="text">
                        </span>
                      </div>
                      <div class="form-g">
                        <span>Author<input class="form-input" type="text"></span>
                      </div >
                       <div class="form-g">
                        <span>Copies<input  class="form-input" type="text"></span>
                      </div>
                      <div class="form-g">
                        <span>Categories<input  class="form-input" type="text"></span>
                      </div>
                    
                     
                        
    
                      <div class="form-g">
                         <button  class="btnds  ">Add Book</button>
                      
                      </div >
                     
                        
              </form>
     </div>
    </div>
    </div>
     </div>
    </div>
</template>

<script>




import SideBar from "./components/SideBar";
import NavBar from "./components/NavBar";


export default {
        el: '#app',
        data(){
          return {
            toogle:false
          }
        },    



  mounted(){
    document.title = "Book Management"
  },
  components: { 
    SideBar,NavBar,
    },
};
</script>

