<template>
  <div id="app">
    <NavBar/>
    <SideBar/>
     <div class="titled text-center">
      <br>
      <h1>Dashboard</h1>   
    </div>
     <div class="chartContainer">
       <div class="row col-lg-12">
              <div class="column col-lg-6">
                <canvas id="barChart" ref="barChart"></canvas>    
              </div>
              <div class="column col-lg-6">
                <canvas id="pieChart" ></canvas>
              </div>
       </div>  
     </div>
  </div>
</template>

<script>
import SideBar from "./components/SideBar";
import NavBar from "./components/NavBar";

import Chart from 'chart.js';
export default {
  components: { SideBar,NavBar
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['January', 'February', 'March', 'April', 'May'],
          datasets: [
            {
              label: 'Borrowed',
              data: [50, 80, 30, 20, 60, 90],
              backgroundColor: '#007bff',
            },
            {
              label: 'Returned',
      data: [20, 60, 30, 10, 40, 90],
      backgroundColor: '#fd7e14',
            },
          ],
        },
        options: {
          legend: {
      position: "bottom",
    },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20,40],
              backgroundColor: [
                "#007bff",
                 "#fd7e14",
              "##6c757d",
                "#ffc107",
                "#0E0067",
              ],
            },
          ],

          labels: ["IT Books", "History", "Reseach", "Math", "MAPEH"],
        },
        options: {
          legend: {
      position: "bottom",
    },
          
        },
      });
      
    });
  },
  
};
 
</script>
