<template>
  <div id="app">
   <NavBar/>
    <SideBar/>
      <div class="titled text-center">
      <br>
      <h1>Patron Management</h1>   
    </div>   
   <div class="chartContainer p-4">
              <div class="process p-4">
                                       
              <button @click='toogle = ! toogle' class="adds btn btn-sm"><span><img src="./assets/images/add.png" width:="30px" height="30px">Add Patron </span></button>
              <input class="search-box" type="text" name="" placeholder="Search..." >                    
                                          <hr class="bg-dark">
              </div>
             
       <table class="table table-bordered"> 
        <thead class="table-head">
            <tr> 
            
              <th>Name</th>
              <th>Email</th>
              <th>Date Registered</th>
               <th><button class="thB"></button></th>
            </tr>
         </thead>
         <tbody class="table-body">  
            
            
            <td class="text-center">Jayrell Egargo</td>
                <td class="text-center">wisdom@gmail.com</td>
                <td class="text-center">December 25,2019</td>
               <td><a href="#" >Edit</a><br><a  onclick="myFunction()" href="#" >Delete</a></td>
               
                <tr>
                  
            
            <td class="text-center">Jayrell Egargo</td>
                <td class="text-center">wisdom@gmail.com</td>
                <td class="text-center">December 25,2019</td>
                <td><a href="#" >Edit</a><br><a onclick="myFunction()" href="#" >Delete</a></td>
                </tr>

            <tr>  
            
            <td class="text-center">Jayrell Egargo</td>
                <td class="text-center">wisdom@gmail.com</td>
                <td class="text-center">December 25,2019</td>
                <td><a href="#" >Edit</a><br><a  onclick="myFunction()" href="#" >Delete</a></td>
              
                </tr></tbody>
    </table>

    </div>
    <div v-show='toogle' id="overthetop">
    <div class="modal-dialog ">
    <div class="modal-content">
     <div class="modal-header">
                <p1 class="hText">ADD PATRON</p1>
                <button @click='toogle = !toogle' type="button" class="btnx" data-dismiss="modal">X</button>
              </div>
     <div class="modal-body p-4">
    <form class="form1 align-items-center">
                      <div class="form-g">
                        <span> Name <input class="form-input" type="text">
                        </span>
                      </div>
                      <div class="form-g">
                        <span>Middle Name<input class="form-input" type="text"></span>
                      </div >
                       <div class="form-g">
                        <span>Last Name<input  class="form-input" type="text"></span>
                      </div>
                      <div class="form-g">
                        <span>Email Adress<input  class="form-input" type="text"></span>
                      </div>
                      
                      <div class="form-g">
                         <button  class="btnds ">Add Patron</button>
                      
                      </div >
                </form>
     </div>
    </div>
    </div>
     </div>
  </div>
</template>

<script>




import SideBar from "./components/SideBar";
import NavBar from "./components/NavBar";
export default {
        el: '#app',
        data(){
          return {
            toogle:false
          }
        },    



  mounted(){
    document.title = "Patron Management"
  },
  components: { 
    SideBar,NavBar,
    },
};
</script>

