<template>
  <div id="app">
    <NavBar/>
    <SideBar/>
    <div class="titled text-center">
      <br>
      <h1>Settings</h1>   
    </div>   
    <div class="cContainer p-4">
              <div class="process p-4">

              </div>
    </div>
  </div>
</template>

<script>





import SideBar from "./components/SideBar";
import NavBar from "./components/NavBar";

export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
    SideBar,NavBar
    },
};
</script>

