body {
	background-color: rgb(235,134,44);
}
.content .dashboard-content {
	margin-top: 200px;
	margin-left:300px;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bar,
.pie {
	background-color: white;
	padding: 30px;
	margin: 20px;
	width: 450px;
	height: 400px;
	color: white;
	font-size: 20px;
	text-align: center;
}

  .navbar {
    height: 10vh;
    z-index: 1;
  }

   .content {
    position: relative;
  }
  .content .dashboard-content {
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 0;
  }

  .borrow-return-chart,
  .popular-book-chart {
    height: 300px;
    width: 300px;
  }

.header{
	margin-top:10px;
	padding-top:6px;
	width:1348px;
	height:45px;
	background-color: rgb(253,231,210);
	position: 	absolute;
	top:0px;
}
.closebtn{
	border-width: 	1px #0000;
	float:right;
	background-color:transparent;
}
.minimizebtn{
	border-width: 	1px #0000;
	float:right;
	background-color:transparent;
}
.scrollbtn{
	border-width: 	1px #0000;
	float:right;
	background-color:transparent;
}
.sidenav{
	margin-top:65px;
	
	top:0px;
	width:300px;
	height:810px;
	background-color: rgb(253,231,210);
	position: 	absolute;	
}
.hehe{
	top:20px;
	left:15%;
	width:200px;
	height:200px;
	position:absolute;
}
.titled{
	margin-top:65px;
	
	top:0px;
	margin-left:310px;
	width:1039px;
	height:100px;
	background-color: rgb(253,231,210);
	position: 	absolute;	
}
.chartContainer{
		display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 310px;
	margin-top:175px;
	width:1039px;
	height:450px;
position: 	absolute;	
	background-color: rgb(253,231,210);
}
.cContainer{
	display: flex;
justify-content: center;
align-items: center;
margin-left: 310px;
margin-top:175px;
width:1039px;
height:700px;
position: 	absolute;	
background-color: rgb(253,231,210);
}
.bt1{
	margin-left: 17%;
	width:200px;
	height:45px;
	margin-top:250px;
	border-width:1px;
}
.bt21{
	margin-left: 17%;
	width:200px;
	height:45px;
	margin-top: 10px;
	border-width:1px;
}
.bt31{
	margin-left: 17%;
	width:200px;
	height:45px;
	margin-top: 10px;
	border-width:1px;
}
.bt41{
	margin-left: 17%;
	width:200px;
	height:45px;
	margin-top: 10px;
	border-width:1px;
}
.bt51{
	border:none;
	background-color: 	transparent;	
	margin-left: 17%;
	width:200px;
	height:45px;
	margin-top: 10px;
	border-width:1px;
}

.librarys{
	margin-left:30px;
}

.process{
	width:100%;
	height:50px;
	background-color: rgb(253,231,210);	position:absolute;
	top:0px;


}
.table-head{
	background-color: rgb(	222,221,226);
}
.search-box{
	float:right;
	margin-right: 20px;
}
.table-body{

	border-width: 1px #0000;
	background-color: rgb(253,238,231);
}
.thB{
	width:25px;
	border-width: 1px;
	border-color: black;
	height: 25px;

}
.form-input{
	float:right;
}
.form-g{
	padding: 10px;
}
.modal-body{
	background-color: rgb(235,134,44);
}
.btnds{
	border:none;
	
	background-color: white;
	float:right;
}
.btnx{
	border:none;
	background-color: transparent;
}
.bookContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 310px;
	margin-top:175px;
	width:1039px;
	height:700px;
position: 	absolute;	
	background-color: rgb(253,231,210);	
}
.row{
	width:800px;
	
	background-color: white;
	justify-content: center;
	display: flex;
}
#overthetop{
	position: fixed;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(0,0,0,0.6);
  }